.header-wrapper {
	position: absolute;
	z-index: 100;
	width: 90vw;
}

.header__box {
	display: flex;
	justify-content: space-between;

	align-items: baseline;
	padding-top: 2.5rem;
	padding-left: 0.5rem;
	padding-right: 0.5rem;

	.burger {
		cursor: pointer;
	}
}

.menu {
	transform: translateX(600%);
	transition: all 0.3s ease;
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	background-color: black;
	color: $cl-white;

	&__list {
		margin-top: 50%;
		margin-left: 2.5rem;
		list-style-type: none;
	}

	&__items {
		margin-top: 2rem;
		text-transform: uppercase;
		font-size: 2.5rem;
		cursor: pointer;
	}
}

.logo {
	cursor: pointer;
	color: $cl-white;
	font-size: 3rem;
	font-family: "Alata", sans-serif;

	padding: 0;
	margin: 0;
}

.main-title {
	position: absolute;
	top: 50%;
	right: 50%;
	transform: translate(50%, -50%);
	.title-box {
		font-weight: 300;
		color: $cl-white;
		text-transform: uppercase;
		font-size: 4rem;
		border: 2px solid $cl-white;
		padding: 2.5rem;
	}
}

.vr-content {
	width: 100%;
	margin: 0 auto;
	text-align: center;

	.oculus {
		max-width: 100%;
		height: auto;
		display: block;
	}

	&__title {
		color: $cl-black;
		text-transform: uppercase;
		font-weight: 300;
		font-size: 3.3rem;
		padding-top: 5rem;

		line-height: 1;
	}

	&__paragraph {
		color: $cl-grey;
		font-weight: bold;
		font-size: 1.5rem;
		line-height: 1.6;
		padding: 2.4rem;
	}
}

.grid-gallery {
	width: 100%;
	display: grid;
	justify-items: center;
	gap: 35px;

	&__title {
		color: $cl-black;
		text-transform: uppercase;
		font-weight: 300;
		font-size: 3.3rem;
		padding-top: 5rem;

		line-height: 1;
	}

	&__images {
		display: grid;
		gap: 20px;
	}

	&__pics {
		max-width: 100%;
	}

	.cta {
		text-transform: uppercase;
		background: transparent;
		font-family: "Alata", sans-serif;
		font-size: 1.5rem;
		font-weight: 200;
		letter-spacing: 4px;
		padding: 1rem 3.5rem;
		cursor: pointer;
	}
}

.footer-grid {
	text-align: center;
	margin-top: 7rem;
	color: $cl-white;
	display: grid;
	justify-content: center;
	justify-items: center;

	.logo {
		margin-top: 4rem;
	}

	&__bottom {
		margin-top: 2rem;
		margin-bottom: 3rem;
		list-style-type: none;

		.footer-grid__items {
			font-size: 1.6rem;
			padding: 1.3rem;
		}
	}

	&__social {
		padding: 1rem;
	}

	&__icon {
		padding: 0.7rem;
	}

	.copyright {
		color: $cl-grey;
		font-size: 1.7rem;
		font-family: "Alata" sans-serif;
	}
}
