.container {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
	@media only screen and (min-width: 1024px) {
		flex-direction: row;
	}
}

.rounded-shape {
	position: absolute;
	z-index: -1;
	transform: translateX(-50%);
	width: 100%;
	height: 500px;
	border-radius: 0% 0% 50% 50% / 10% 10% 50% 50%;
	background: rgb(136, 56, 255);
	background: linear-gradient(
		14deg,
		rgba(136, 56, 255, 1) 0%,
		rgba(158, 58, 255, 1) 33%,
		rgba(233, 66, 255, 1) 100%
	);

	@media only screen and (min-width: 1024px) {
		width: 50%;
		height: 70rem;
		transform: translateX(-30%);
	}
}

.smartphone {
	margin: 0 auto;
	border-radius: 30px;
	display: flex;
	flex-direction: column;
	padding: 10px;
	transform: translateY(6.5rem);

	width: 25rem;
	height: 54rem;
	background-color: $cl-white;
	box-shadow: $drop-shadow;
	@media only screen and (min-width: 768px) {
		transform: translateY(3rem);
	}
	@media only screen and (min-width: 1024px) {
		transform: translate(42%, 20%);
	}

	&__display {
		overflow: hidden;
		width: 100%;
		height: 100%;

		background-color: $cl-app-background;
		border-radius: inherit;
	}

	&__top {
		display: flex;
		flex-direction: column;

		width: 100%;
		height: 65px;
		background: $gradient-top-app;
		border-top-left-radius: 30px;
		border-top-right-radius: 30px;
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
		overflow: hidden;
	}

	&__braw {
		padding: 0;
		margin: 0;
		align-self: center;
		border-radius: 15px;
		height: 35px;
		width: 130px;
		background-color: $cl-white;
		transform: translateY(-15px);
	}

	&__user {
		margin-top: -10px;
		align-self: center;
		display: flex;

		align-items: center;
		width: 220px;
	}

	&__chevrons {
		padding: 2px;
		:first-child {
			transform: skew(-30deg);
		}
		:nth-child(2) {
			transform: skew(30deg);
		}
		.chevron {
			width: 2.5px;
			height: 5px;
			background-color: $cl-app-background;
		}
	}

	&__avatar {
		margin-right: 8px;
		margin-left: 8px;
		height: 25px;
		width: 25px;
		padding: 1px;
		border: 1px solid $cl-white;
		border-radius: 50%;

		.avatar-img {
			border-radius: 50%;
			max-width: 100%;
			height: auto;
			display: block;
		}
	}

	&__name {
		color: $cl-app-background;

		.user-name {
			margin: 0;
			font-size: 1.2rem;
		}

		.user-status {
			margin: 0;
			font-size: 0.9rem;
			color: $cl-subheading;
		}
	}

	&__dots {
		margin-left: auto;
		.dot {
			margin: 1px;
			width: 2px;
			height: 2px;
			background-color: $cl-white;
		}
	}
}

.display-messages {
	display: flex;
	flex-direction: column;

	&__box {
		margin-left: 10px;
		.sent-message {
			color: $cl-chat-on-left;
			background-color: hsl(272, 41%, 93%);
			width: max-content;
			padding: 10px;
			border-radius: 15px;
		}
	}

	.dogs {
		display: flex;
		width: 100%;
		justify-content: flex-end;
		gap: 7px;
		:nth-child(3) {
			margin-right: 10px;
		}

		&__container {
			width: 40px;
			height: 40px;
		}

		.dog-picture {
			max-width: 100%;
			height: auto;
			display: block;
			border-radius: 10px;
		}
	}
}

.messages-received {
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: flex-end;
	& > p {
		margin: 0;
	}
	.received-message {
		margin-top: 10px;
		margin-right: 10px;
		color: $cl-chat-on-right;
		background-color: $cl-white;
		width: max-content;
		padding: 10px;
		border-radius: 15px;
	}
}

.prices {
	display: flex;
	flex-direction: column;
	margin-left: 10px;
	gap: 10px;

	&__quotation {
		display: flex;
		justify-content: space-between;
		align-items: center;
		color: $cl-white;
		border-radius: 10px;
		border-bottom-left-radius: 5px;

		width: 160px;
		padding: 10px;
		background: $gradient-mag-purp;
	}

	.circle {
		width: 12px;
		height: 12px;
		background: transparent;
		border-radius: 50%;
		border: 2px solid $cl-radio-button;
		margin-right: 20px;
	}

	.text {
		color: $cl-subheading;
		font-size: 0.9rem;
		margin-right: auto;
	}

	.price {
		font-size: 1.3rem;
		font-weight: bold;
		margin-right: 5px;
	}
}

.input-text {
	margin: 15px auto;

	border-radius: 20px;
	display: flex;
	width: 90%;
	justify-content: space-between;
	align-items: center;
	background-color: $cl-white;

	&__message {
		margin-left: 15px;
		color: hsl(206, 6%, 79%);
	}

	&__send {
		margin-right: 5px;
		width: 25px;
		height: 25px;
		border-radius: 50%;
		background-color: $cl-submit-button;

		.smartphone__chevrons {
			width: 100%;
			height: 100%;
			transform: translate(9px, 5px);

			:first-child {
				transform: skew(45deg);
			}
			:nth-child(2) {
				transform: skew(-45deg);
			}
		}
	}
}

.booking {
	align-self: center;
	@media only screen and (min-width: 1024px) {
		max-width: 40%;
		margin-top: 10%;
		margin-left: 5rem;
	}

	.title {
		margin-top: 12rem;
		text-align: center;
		color: $cl-main-heading;
		font-size: 4rem;
		font-weight: 700;
		@media only screen and (min-width: 768px) {
			margin-top: 6rem;
			margin-bottom: 1rem;
		}
		@media only screen and (min-width: 1024px) {
			text-align: left;
		}
	}

	.subtitle {
		color: $cl-submit-button;
		font-size: 1.7rem;
		text-align: center;
		margin: 3rem;
		line-height: 1.6;
		@media only screen and (min-width: 768px) {
			margin-top: 1rem;
			margin-left: 10rem;
			margin-right: 10rem;
			line-height: 1.5;
		}
		@media only screen and (min-width: 1024px) {
			text-align: left;
			margin-left: 0;
			margin-right: 5rem;
		}
		@media only screen and (min-width: 1300px) {
			margin-right: 20rem;
		}
	}
}
